.container {
    background: rgb(15, 14, 14);
    padding: 40px 35px;
}

.footerContainer {
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 0px 30px;
}

.left-app {
    margin-bottom: 20px;
}

.left,
.right,
.middle {
    color: white;
}

.logo {
    height: 50px;
}

.credits-container {
    display: flex;
    justify-content: center;
}

.credits {
    color: rgb(78, 78, 77);
}

ul {
    list-style: none;
    font-size: small;
    vertical-align: middle;
}

ul li {
    margin: 3px 0px;
    font-family: sans-serif;
    vertical-align: middle;
}

ul li:hover {
    cursor: pointer;
}

.heading {
    margin-bottom: 20px;
}