.app-Logo {
    height: 50px;
    background-color: rgb(15, 14, 14);
}



.header-container {
    padding: 10px 25px;
    display: flex;
    height: 55px;
    background: rgb(15, 14, 14);
    color: white;
    align-items: center;
    justify-content: space-between;
}


.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.navlist {
    align-items: center;
    gap: 30px;
}

.profile {
    border-radius: 50%;
    height: 35px;
}

.nav {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
    color: white;
}

.nav:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: .15s;
}