.slider {
    width: 44%;
    height: 700px;
    background-color: black;
    position: relative;
    margin-left: 15px;
    /* padding: 3px; */
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    /* min-width: 500px; */
}

.image-container {
    text-align: center;
    width: 100%;
    background-color: transparent;
    height: 100%;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* min-width: 100px; */
}

.test {
    position: absolute;
    top: 90%;
    left: 250px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#slide-1:target~.image-container {
    left: 0px;
}

#slide-2:target~.image-container {
    left: -500px;
}

#slide-3:target~.image-container {
    left: -1000px;
}

.buttons {
    position: absolute;
    /* top: -20px; */
    /* background-color: blue; */
    bottom: 4px;
    right: 50%;
}

.buttons a {
    display: inline-block;
    /* position: absolute; */
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: red;
    /* z-index: 5; */
}

@media only screen and (max-width: 1110px) {

    .slider {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {

    .slider {
        width: 95%;
    }
}