.gridContainer {
    display: flex;
    gap: 30px;
    width: 55%;
    height: 700px;
    align-items: start;
    overflow-y: scroll;
    overflow-x: hidden;
    background: transparent;
    backdrop-filter: blur(5px);
    padding-left: 10px;
    border-radius: 10px;
    /* max-width: 750px; */
}

::-webkit-scrollbar {
    width: 12px;
}


.postimg {
    width: 100%;
    min-width: 200px;
}

.caption {
    max-width: 300px;
}

.caption p {
    font-family: Quattrocento Sans;
    padding: 4px 0px;
}

.post {
    background-color: rgb(15, 14, 14);
    padding: 0px 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin: 20px 0px;
}

.postimgcontainer img {
    margin-bottom: 10px;
    border-radius: 5px;
}

.postimgcontainer {
    overflow: hidden;
    width: 100%;
}

@media only screen and (max-width: 1110px) {

    .gridContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}